<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - DanmuVis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

<nav>
  <h1 onclick="window.location.href='{{ url_for('index') }}'">Danmuvis</h1>
  {%block nav %}{% endblock %}
  <ul>
      {%block navUl %}{% endblock %}
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i></a>
    {% else %}
<!--      <li><a href="{{ url_for('auth.register') }}">注册</a>-->
      <li><a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
  </ul>
</nav>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}

</body>
</html>