* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #ffffff;
}

html {
    font-family: sans-serif;
    background: #121212;
    width: 100%;
}

body {
    width: 100%;
}

h1 {
    color: #ffffff;
    margin: 1rem 0;
    margin: 0;
}


::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
}

nav, #playlistFilterDiv, #layoutButton, .videoCard, .clip {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 2;
}

.videoCard, .clip, input, select, button {
    border-radius: 0.6rem;
}

#layoutButton:hover, input[type='button']:hover, button:hover {
    transform: scale(1.05, 1.05);
}

#layoutButton:hover, .videoCard:hover, .clip:hover, input:hover, select:hover, button:hover {
    background-image:  linear-gradient(to right, RGBA(255,255,255,0.04), RGBA(255,255,255,0.04));
    background-blend-mode: normal;
}

input:hover, select:hover{
    background-image:  linear-gradient(to right, RGBA(105, 58, 138,0.12), RGBA(105, 58, 138,0.12));
    background-blend-mode: normal;
}

nav { height: 3.5rem; width: 100%;
    background: #1E1E1E; display: flex; align-items: center;
    padding: 0 0.5rem;
}
nav h1 { color: #BB86FC; flex: auto; margin: 0 2rem; }
nav h1:hover { color: #03DAC6; cursor: pointer; }
nav p { color: #ffffff; flex: auto; margin: 0 2rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li * { display: inline; vertical-align: middle; padding: 0.5rem; }
nav ul li label { margin-left: 1rem; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.noselect {
    user-select: none;
}

#playlistFilterDiv {
    background: #1E1E1E;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
#playlistFilterDiv div {
    margin: 0 10px;
    display: inline-block;
}
input, select {
    background: #121212;
    color: #BB86FC;
    padding: 5px 20px;
}

input[type='button'], button {
    font-weight: bold;
    color: #000000;
    background: #BB86FC;
    cursor: pointer;
}

input[type='button']:hover, button:hover {
    color: #121212;
}




#playlistDiv {
    margin: auto;
    width: 90%;
}



.videoCard {
    display: inline-block;
    width: 400px;
    height: 200px;
    margin: 40px 20px;
    padding: 20px 30px 30px 20px;
    background-color: #1E1E1E;
    cursor: pointer;
    text-align: left;
    position: relative;
}

.videoCard .title {
    font-weight: normal;
    margin-bottom: 15px;
}

.videoCard .bg {
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    border-radius: 0.6rem;
}


#playlist {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
    table-layout: fixed;
}

#playlist th {
    padding: 7px;
}

#playlist td {
    font-size: 1.1rem;
    padding: 0.8rem;
}
#playlist tr:hover td {
    color: #BB86FC;
}


#layoutButton {
    background: #BB86FC;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    left: 80px;
    font-size: 20px;
    cursor: pointer;
}

#layoutButton i {
    color: #000000;
}

#visContainer {
    cursor: none;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    background-color: rgba(30,30,30,0.7);
}

#video {
    object-fit: contain;
    width: 100vw;
    height: calc(100vh - 3.5rem);
}

#videoContainer {
    position: fixed;
}

#clipList {
    position: fixed;
    top: 3.5rem;
    right: 0;
    z-index: 2;
    width: 18rem;
    height: calc(100vh - 4.5rem - 10vw);
    overflow-y: auto;
    overflow-x: clip;
}


.clip {
    padding: 1.2rem;
    margin: 0.2rem;
    background-color: RGBA(30,30,30,1);
    cursor: pointer;
    position: relative;
}

.clip .clipRange {
    text-align: center;
}

.clip button {
    background: rgba(0, 0, 0, 0);
}

.clip .cancelButton {
    position: absolute;
    top: 1.2rem;
    right: 1.0rem;
}

.clip .downloadButton, .clip .confirmButton, .clip .spinnerButton {
    position: absolute;
    top: 1.2rem;
    left: 1.0rem;
}

.clip .cancelButton i:hover {
    color: rgba(255, 55, 55, 0.7);
}

.clip .downloadButton i:hover, .clip .confirmButton i:hover {
    color: rgba(55, 155, 55, 0.7);
}