{% extends 'base.html' %}
{% block title %}录播切片机{% endblock %}
{% block content %}
<div id="playlistFilterDiv">
    <form id="playlistFilter">
        <div>
            <label form="playlistFilter" for="keyword">标题关键字</label>
            <input type="text" name="keyword" id="keyword">
        </div>
        <div>
            <label for="streamer">主播</label>
            <select name="streamer" id="streamer">
            </select>
        </div>
        <div>
            <label for="dateFrom">日期</label>
            <input type="date" name="dateFrom" id="dateFrom">
            <label for="dateTo">到</label>
            <input type="date" name="dateTo" id="dateTo">
        </div>
        <div>
            <input type="button" id="resetFilter" value="重置">
            <input type="button" id="applyFilter" value="确定">
        </div>
    </form>
</div>

<div id="playlistDiv">
</div>

<button id="layoutButton"><i class="fas fa-list"></i></button>

<script src="{{ url_for('static', filename='d3.v6.min.js') }}"></script>
<script src="{{ url_for('static', filename='playlist.js') }}"></script>
{% endblock %}