{% extends 'base.html' %}
{% block title %}{{ filename }}{% endblock %}

{% block nav %}
<p>{{ filename }}</p>
{% endblock %}

{% block navUl %}
<li>
    <label for="highlightType">弹幕精彩类型</label>
</li>

<li>
    <select name="highlightType" id="highlightType" onchange="console.log(this.value); highlightType=this.value; danmuvisDraw();">
        <option value="density">密度值</option>
        <option value="funny">欢乐值</option>
        <option value="exciting">刺激值</option>
        <option value="lovely">可爱值</option>
    </select>
</li>

<li>
    <label for="playbackRate">播放速率</label>
</li>

<li>
    <select name="playbackRate" id="playbackRate" onchange="videoElement.playbackRate=parseFloat(this.value);">
        <option value="1.0">1.0x</option>
        <option value="1.5">1.5x</option>
        <option value="2.0">2.0x</option>
        <option value="4.0">4.0x</option>
        <option value="8.0">8.0x</option>
    </select>
</li>
{% endblock %}

{% block content %}

<script> filename = '{{ filename }}' </script>
<div id="videoContainer">
    <video id="video"></video>
</div>

<div id="visContainer"></div>
<!--<div id="visControl">-->
<!--&lt;!&ndash;    <button onclick="updateClipList()"><i class="fas fa-sync"></i></button>&ndash;&gt;-->

<!--    <label for="highlightType">弹幕精彩类型</label>-->
<!--    <select name="highlightType" id="highlightType" onchange="console.log(this.value); highlightType=this.value; danmuvisDraw();">-->
<!--        <option value="density">密度值</option>-->
<!--        <option value="funny">欢乐值</option>-->
<!--        <option value="exciting">刺激值</option>-->
<!--        <option value="lovely">可爱值</option>-->
<!--    </select>-->


<!--    <label for="playbackRate">播放速率</label>-->
<!--    <select name="playbackRate" id="playbackRate" onchange="videoElement.playbackRate=parseFloat(this.value);">-->
<!--        <option value="1.0">1.0x</option>-->
<!--        <option value="1.5">1.5x</option>-->
<!--        <option value="2.0">2.0x</option>-->
<!--        <option value="4.0">4.0x</option>-->
<!--        <option value="8.0">8.0x</option>-->
<!--    </select>-->
<!--</div>-->

<div id="clipList"></div>



<script src="{{ url_for('static', filename='flv.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3.v6.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/assjs/dist/ass.min.js') }}"></script>

<script>

    var videoContainer = document.getElementById('videoContainer');
    var videoElement = document.getElementById('video');

    // refer to https://github.com/Bilibili/flv.js#readme
    var flvPlayer = flvjs.createPlayer({
        type: 'flv',
        url: '{{ url_for('player.get_video', filename=filename) }}'
    });
    flvPlayer.attachMediaElement(videoElement);
    flvPlayer.load();

    videoElement.addEventListener('click', function() {
        if (this.paused)
            this.play();
        else
            this.pause()
    });

    // refer to https://github.com/weizhenye/ASS#readme
    var ass;
    fetch('{{ url_for('player.get_ass', filename=filename) }}')
        .then(res => res.text())
        .then((text) => {
            ass = new ASS(text, videoElement, {
                resampling: "script_width"
            });
        });

    videoElement.addEventListener('play', () => ass.resize());



</script>

<script src="{{ url_for('static', filename='cliplist.js') }}"></script>
<script src="{{ url_for('static', filename='clip.js') }}"></script>
<script src="{{ url_for('static', filename='visualize.js') }}"></script>

{% endblock %}